footer,
footer a {
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  display: inline;
  line-height: 1;
}

h1 i {
  margin: 0 15px 0 0px;
  font-size: 35px;
}

h3 {
  margin: 20px 0 0 20px;
}

p {
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
}

h1,
h3,
i,
p {
  color: #142850;
}

.active {
  cursor: default;
  color: #142850;
}

.active:hover {
  text-decoration: none;
  color: #142850;
}

.btn-success {
  margin: 0 0 0 10px;
}

.btn-info {
  margin: 0 0 0 22px;
}

#date,
#description {
  font-size: 18px;
  margin: 0 0 0 5px;
}

.form-control {
  margin: 0 0 0 12px;
}

.forecast {
  border-radius: 10px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.4);
}

.forecast-col:hover {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}

.row {
  margin: 10px 0;
}

.weather-app {
  font-family: "Baloo Bhaina 2", cursive;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 8px;
  padding: 5px 10px 10px 10px;
  background-image: linear-gradient(
    0,
    rgba(143, 211, 244, 0.9) 0%,
    rgba(132, 250, 176, 0.9) 100%
  );
}

.units {
  position: relative;
  top: -24px;
  left: -5px;
}
