footer,
footer a {
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 45px;
  display: inline;
  line-height: 1;
}

h1 i {
  margin: 0 10px 0 0px;
  font-size: 30px;
}

h3 {
  margin: 20px 0 0 20px;
}

p {
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
}

h1,
h3,
i,
p {
  color: rgba(20, 40, 80, 1);
}

.active {
  cursor: default;
  color: rgba(20, 40, 80, 1);
}

.active:hover {
  text-decoration: none;
  color: rgba(20, 40, 80, 1);
}

#date,
#description {
  font-size: 18px;
  margin: 0 0 0 5px;
}

.form-control {
  margin: 0 0 0 12px;
}

.forecast {
  padding: 6px 0px 6px 0px;
  text-align: center;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.4);
}

.forecast i {
  font-size: 18px;
  color: rgba(20, 40, 80, 0.8);
}

.row {
  margin: 10px 0;
}

.weather-app {
  font-family: "Baloo Bhaina 2", cursive;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 6px;
  padding: 6px 14px;
  background-image: linear-gradient(
    0,
    rgba(143, 211, 244, 0.9) 0%,
    rgba(132, 250, 176, 0.9) 100%
  );
}

.units {
  position: absolute;
  margin-left: 5px;
  top: -3px;
}

.search-button {
  margin: 0 0 0 15px;
}

#search-city-form i {
  font-size: 22px;
}
#search-city-form i:hover {
  color: rgba(20, 40, 80, 0.6);
}
